<div class="posts">

  {%- assign items = site.projects | sort: 'title' -%}
    {%- for project in items limit:30 -%}
    <div class="post-teaser">
        {% if project.header_feature_image %}
        <div class="post-img">
            <a aria-label="{{ project.title }}" href="{{ project.url | relative_url }}">
              {%- if project.caption -%}
                <img alt="{{ project.caption }}" src="{{ project.header_feature_image | relative_url }}">
              {%- else -%}
                <img alt="{{ project.title }}" src="{{ project.header_feature_image | relative_url }}">
              {%- endif -%}

            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ project.title }}" class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title }}
              </a>
            </h1>
          </header>
          <div class="excerpt">
              {{ project.excerpt | strip_html | escape }}
          </div>
      </span>
    </div>
    {% endfor %}
</div>

<!-- {% include blog_nav.html %} -->
